<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.IndexController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registrationUsers</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.RegistrationUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registrationUsers</servlet-name>
        <url-pattern>/registrationUsers</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getAllUsers</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllUsers</servlet-name>
        <url-pattern>/getAllUsers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllItems</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllItems</servlet-name>
        <url-pattern>/getAllItems</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.AddItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/addItem</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>bucketController</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.BucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bucketController</servlet-name>
        <url-pattern>/bucket</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>addItemToBucket</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.AddItemToBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItemToBucket</servlet-name>
        <url-pattern>/addItemToBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteItemFromBucketController</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteItemFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteItemFromBucketController</servlet-name>
        <url-pattern>/deleteItemFromBucket</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ordersController</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ordersController</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>completeOrderController</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>completeOrderController</servlet-name>
        <url-pattern>/completeOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrderController</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrderController</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>



    <listener>
        <listener-class>mate.academy.internetshop.controller.InjectInitializer</listener-class>
    </listener>
    
</web-app>
